In [1]:
import xml.etree.ElementTree as ET

import pandas as pd
import nltk
import string
import re
from nltk.corpus import stopwords
from nltk.tokenize import RegexpTokenizer
from nltk.stem import WordNetLemmatizer
import xml.etree.ElementTree as et
import numpy as np

In [2]:
def read_posts(writing):
    posts = []
    for wrt in writing:
        user_post = {}
        user_post['TITLE'] = wrt.find('TITLE').text
        user_post['DATE'] = wrt.find('DATE').text
        user_post['INFO'] = wrt.find('INFO').text
        user_post['TEXT'] = wrt.find('TEXT').text
        posts.append(user_post)
        training_sample = pd.DataFrame(posts)
    return training_sample

In [3]:
def read_posts_2023(writing):
    posts = []
    #  the 2023 user posts have text in byte string format. Skip initial characters and later chars
    for wrt in writing:
        user_post = {}
        user_post['TITLE'] = wrt.find('TITLE').text[3:-2]
        user_post['DATE'] = wrt.find('DATE').text[3:-2]
        user_post['INFO'] = wrt.find('INFO').text
        user_post['TEXT'] = wrt.find('TEXT').text[3:-2]
        posts.append(user_post)
        training_sample = pd.DataFrame(posts)
    return training_sample

In [4]:
from bs4 import BeautifulSoup

data_2022 = pd.DataFrame([])
for i in range(1, 29):
    with open(f"/Users/aaryanpotdar/Desktop/Kaggle_CLEF/task3/training/t3_training/TRAINING DATA (FROM ERISK 2022 AND 2023)/2022/T3 2022/eRisk2022_T3_Collection/eRisk2022-T3_Subject{i}.xml") as fp:
        soup = BeautifulSoup(fp, 'xml')
    writing = soup.find_all('WRITING')
    user_sample = read_posts(writing)
    user_sample['USER'] = f'eRisk2022-T3_Subject{i}'
    data_2022 = pd.concat([data_2022, user_sample])

In [5]:
data_2022.drop(columns=['INFO'], inplace=True)
data_2022

,TITLE,DATE,TEXT,USER
0,i am so in love,2021-11-21 09:04:18,thats it thats the post i am so fucking utter...,eRisk2022-T3_Subject1
1,,2021-11-21 08:32:52,me but im a guy lookin at skinny guys lmfao,eRisk2022-T3_Subject1
2,"Anyone else just say ""fuck you"" to one partic...",2021-11-16 09:11:26,​\n\nhttps://preview.redd.it/66z8iubd1xz71.pn...,eRisk2022-T3_Subject1
3,,2021-11-15 11:51:31,"im really sorry youre goin through this man, ...",eRisk2022-T3_Subject1
4,,2021-11-15 11:47:12,is there anyone around you right now you coul...,eRisk2022-T3_Subject1
...,...,...,...,...
47,Should I watch past season 3?,2020-10-16 00:17:39,This is the first time I watch the show but I...,eRisk2022-T3_Subject28
48,Hagrid's other sidequest,2020-10-07 21:17:22,Is there a list of all of Hagrid's sidequests...,eRisk2022-T3_Subject28
49,Peeta revived,2020-10-04 01:40:27,Ever since reading the books and seeing the m...,eRisk2022-T3_Subject28
50,ITAP: A sunset through a window,2020-09-26 00:50:33,,eRisk2022-T3_Subject28
51,,2020-09-23 17:27:52,Deep Impact maybe https://www.imdb.com/title/...,eRisk2022-T3_Subject28

In [6]:
from bs4 import BeautifulSoup
import pandas as pd

data_2024 = pd.DataFrame([])
for i in range(1, 19):
    # zero padding for 2024 dataset
    with open(f"/Users/aaryanpotdar/Desktop/Kaggle_CLEF/task3/test/TestCollection_T3_eRisk2024/S{i:02d}_T3_eRisk24.xml") as fp:
        soup = BeautifulSoup(fp, 'xml')
    writing = soup.find_all('WRITING')
    user_sample = read_posts(writing)
    user_sample['USER'] = f'Subject{i}'
    data_2024 = pd.concat([data_2024, user_sample])

In [7]:
data_2024.drop(columns=['INFO'], inplace=True)
data_2024

,TITLE,DATE,TEXT,USER
0,,2024-01-09 11:01:12,more consistent exposure to your hand will pro...,Subject1
1,,2023-11-26 08:56:37,replacing the substrate is probably for the be...,Subject1
2,,2023-10-30 01:05:19,"sprite has more prominent banding though, hes ...",Subject1
3,,2023-10-30 01:04:35,https://preview.redd.it/q73qt7fxd8xb1.jpeg?wid...,Subject1
4,"below my goal weight, now the goal has just sh...",2023-10-14 05:47:09,[eliminado],Subject1
...,...,...,...,...
174,,2023-10-14 02:08:28,"When I beta for someone, I also start off with...",Subject18
175,,2023-10-13 19:54:59,I don't think I ever truly knew you,Subject18
176,,2023-10-13 12:28:59,"There's Eminence in Shadow, although it's more...",Subject18
177,,2023-10-13 01:44:05,I wouldn't be offended at all. The only thing ...,Subject18
178,,2023-10-13 01:38:12,"Honestly, congratulations to you for sticking ...",Subject18

In [8]:
data_2024.to_csv('test.csv')

In [9]:
data_2023 = pd.DataFrame([])
for i in range(1, 47):
    with open(f"/Users/aaryanpotdar/Desktop/Kaggle_CLEF/task3/training/t3_training/TRAINING DATA (FROM ERISK 2022 AND 2023)/2023/erisk 2023_T3/eRisk2023_T3_Collection/eRisk2023-T3_Subject{i}.xml") as fp:
        soup = BeautifulSoup(fp, 'xml')
    writing = soup.find_all('WRITING')
    user_sample = read_posts_2023(writing)
    user_sample['USER'] = f'eRisk2022-T3_Subject{i}'
    data_2023 = pd.concat([data_2023, user_sample])

In [10]:
data_2023.drop(columns=['INFO'], inplace=True)
data_2023

,TITLE,DATE,TEXT,USER
0,,2022-10-18 16:54:09,"Idk mate, since 1796 we have been using vaccin...",eRisk2022-T3_Subject1
1,,2022-10-18 09:18:57,>No disrespect intended I'm sure\n\nHow the ac...,eRisk2022-T3_Subject1
2,,2022-10-18 09:12:08,The older kids would and the baby would see th...,eRisk2022-T3_Subject1
3,,2022-10-18 09:11:46,No,eRisk2022-T3_Subject1
4,,2022-10-18 09:11:23,It's also used when the head is deformed becau...,eRisk2022-T3_Subject1
...,...,...,...,...
1026,,2018-08-15 21:19:55,Had an ex literally tell me he would try not t...,eRisk2022-T3_Subject46
1027,,2018-08-15 21:09:54,My boyfriend wanted to see if he could stick t...,eRisk2022-T3_Subject46
1028,,2018-08-15 20:48:30,Turkey in German translates to threat chicken.,eRisk2022-T3_Subject46
1029,,2018-08-15 20:38:25,I had written a suicide note in case I ever wa...,eRisk2022-T3_Subject46
1030,,2018-08-15 20:10:40,oh.,eRisk2022-T3_Subject46

In [11]:
# removing words begining with r/ or u/. These are specific to reddit and don't add meaning to context
def remove_r_u(text):
    pattern = r'\b(?:u/|r/)\w+\b'
    return re.sub(pattern, '', text)

In [12]:
data_2022['TEXT'] = data_2022['TEXT'].apply(remove_r_u)
data_2022['TITLE'] = data_2022['TITLE'].apply(remove_r_u)
data_2023['TEXT'] = data_2023['TEXT'].apply(remove_r_u)
data_2023['TITLE'] = data_2023['TITLE'].apply(remove_r_u)

In [13]:
data_2024['TEXT'] = data_2024['TEXT'].apply(remove_r_u)
data_2024['TITLE'] = data_2024['TITLE'].apply(remove_r_u)

In [14]:
# subject 20 in data_2022
def remove_substrings(text):
    substrings_to_remove = ['6369', 'ign', 'teddy']
    for substring in substrings_to_remove:
        text = text.lower().replace(substring, '')
    return text

In [15]:
subject20 = data_2022['USER'] == 'eRisk2022-T3_Subject20'

In [16]:
data_2022.loc[subject20, 'TEXT'] = data_2022.loc[subject20, 'TEXT'].apply(remove_substrings)

In [17]:
from tokenizer import tokenizer
R = tokenizer.RedditTokenizer()

text = "Hey u/NLPer! This is a #NLProc message."
tokens = R.tokenize(text.lower())

print(tokens)

['hey', 'u/nlper', '!', 'this', 'is', 'a', '#nlproc', 'message', '.']

In [18]:
data_2022

,TITLE,DATE,TEXT,USER
0,i am so in love,2021-11-21 09:04:18,thats it thats the post i am so fucking utter...,eRisk2022-T3_Subject1
1,,2021-11-21 08:32:52,me but im a guy lookin at skinny guys lmfao,eRisk2022-T3_Subject1
2,"Anyone else just say ""fuck you"" to one partic...",2021-11-16 09:11:26,​\n\nhttps://preview.redd.it/66z8iubd1xz71.pn...,eRisk2022-T3_Subject1
3,,2021-11-15 11:51:31,"im really sorry youre goin through this man, ...",eRisk2022-T3_Subject1
4,,2021-11-15 11:47:12,is there anyone around you right now you coul...,eRisk2022-T3_Subject1
...,...,...,...,...
47,Should I watch past season 3?,2020-10-16 00:17:39,This is the first time I watch the show but I...,eRisk2022-T3_Subject28
48,Hagrid's other sidequest,2020-10-07 21:17:22,Is there a list of all of Hagrid's sidequests...,eRisk2022-T3_Subject28
49,Peeta revived,2020-10-04 01:40:27,Ever since reading the books and seeing the m...,eRisk2022-T3_Subject28
50,ITAP: A sunset through a window,2020-09-26 00:50:33,,eRisk2022-T3_Subject28
51,,2020-09-23 17:27:52,Deep Impact maybe https://www.imdb.com/title/...,eRisk2022-T3_Subject28

In [19]:
data_2024

,TITLE,DATE,TEXT,USER
0,,2024-01-09 11:01:12,more consistent exposure to your hand will pro...,Subject1
1,,2023-11-26 08:56:37,replacing the substrate is probably for the be...,Subject1
2,,2023-10-30 01:05:19,"sprite has more prominent banding though, hes ...",Subject1
3,,2023-10-30 01:04:35,https://preview.redd.it/q73qt7fxd8xb1.jpeg?wid...,Subject1
4,"below my goal weight, now the goal has just sh...",2023-10-14 05:47:09,[eliminado],Subject1
...,...,...,...,...
174,,2023-10-14 02:08:28,"When I beta for someone, I also start off with...",Subject18
175,,2023-10-13 19:54:59,I don't think I ever truly knew you,Subject18
176,,2023-10-13 12:28:59,"There's Eminence in Shadow, although it's more...",Subject18
177,,2023-10-13 01:44:05,I wouldn't be offended at all. The only thing ...,Subject18
178,,2023-10-13 01:38:12,"Honestly, congratulations to you for sticking ...",Subject18

In [20]:
from nltk.tokenize import sent_tokenize

In [21]:
##### Text pre-processing and tokenization #####

In [22]:
from datetime import datetime

# removing white spaces
data_2022 = data_2022.apply(lambda x: x.str.strip())

# replacing empty titles with NaN
# data_2022['TITLE'].replace('', pd.NA, inplace=True)

# writing date in Date time format - can be used later
data_2022['DATE'] = pd.to_datetime(data_2022['DATE'], errors='coerce')

# 4. removing URLS and escape characters from TEXT and TITLE
data_2022['TEXT'] = data_2022['TEXT'].str.replace(r'http\S+', '', regex=True).replace(r'\n',' ', regex=True)
data_2022['TITLE'] = data_2022['TITLE'].str.replace(r'http\S+', '', regex=True).replace(r'\n',' ', regex=True)

# ensure USER column is string type
data_2022['USER'] = data_2022['USER'].astype(str)

# check for missing data
missing_data = data_2022.isnull().sum()

In [23]:
pattern = '[^\w\s\.,;:!?\'\"-]+'

In [24]:
# Text Normalization: convert TEXT and TITLE to lowercase
data_2022['TEXT'] = data_2022['TEXT'].str.lower()
data_2022['TITLE'] = data_2022['TITLE'].str.lower()

# clean-up Non-ASCII characters.
data_2022['TEXT'] = data_2022['TEXT'].apply(lambda x: re.sub(pattern, '', x, flags=re.ASCII))
data_2022['TITLE'] = data_2022['TITLE'].apply(lambda x: re.sub(pattern, '', x, flags=re.ASCII))

# Deduplication: remove duplicate rows if any
duplicates_removed = data_2022.duplicated().sum()
data_2022.drop_duplicates(inplace=True)

In [25]:
data_2022.head()

,TITLE,DATE,TEXT,USER
0,i am so in love,2021-11-21 09:04:18,thats it thats the post i am so fucking utterl...,eRisk2022-T3_Subject1
1,,2021-11-21 08:32:52,me but im a guy lookin at skinny guys lmfao,eRisk2022-T3_Subject1
2,"anyone else just say ""fuck you"" to one particu...",2021-11-16 09:11:26,,eRisk2022-T3_Subject1
3,,2021-11-15 11:51:31,"im really sorry youre goin through this man, i...",eRisk2022-T3_Subject1
4,,2021-11-15 11:47:12,is there anyone around you right now you could...,eRisk2022-T3_Subject1

In [26]:
from datetime import datetime

# removing white spaces
data_2023 = data_2023.apply(lambda x: x.str.strip())

# replacing empty titles with NaN
# data_2023['TITLE'].replace('', pd.NA, inplace=True)

# writing date in Date time format - can be used later
data_2023['DATE'] = pd.to_datetime(data_2023['DATE'], errors='coerce')

# 4. removing URLS and escape characters from TEXT and TITLE
data_2023['TEXT'] = data_2023['TEXT'].str.replace(r'http\S+', '', regex=True).replace(r'\n',' ', regex=True)
data_2023['TITLE'] = data_2023['TITLE'].str.replace(r'http\S+', '', regex=True).replace(r'\n',' ', regex=True)

# ensure USER column is string type
data_2023['USER'] = data_2023['USER'].astype(str)

# check for missing data
missing_data = data_2023.isnull().sum()

# Text Normalization: convert TEXT and TITLE to lowercase, remove punctuation
data_2023['TEXT'] = data_2023['TEXT'].str.lower()
data_2023['TITLE'] = data_2023['TITLE'].str.lower()
# clean-up Non-ASCII characters.
data_2023['TEXT'] = data_2023['TEXT'].apply(lambda x: re.sub(pattern, '', x, flags=re.ASCII))
data_2023['TITLE'] = data_2023['TITLE'].apply(lambda x: re.sub(pattern, '', x, flags=re.ASCII))

# Deduplication: remove duplicate rows if any
duplicates_removed = data_2023.duplicated().sum()
data_2023.drop_duplicates(inplace=True)

In [27]:
data_2023.head()

,TITLE,DATE,TEXT,USER
0,,2022-10-18 16:54:09,"idk mate, since 1796 we have been using vaccin...",eRisk2022-T3_Subject1
1,,2022-10-18 09:18:57,no disrespect intended i'm surennhow the actua...,eRisk2022-T3_Subject1
2,,2022-10-18 09:12:08,the older kids would and the baby would see th...,eRisk2022-T3_Subject1
3,,2022-10-18 09:11:46,no,eRisk2022-T3_Subject1
4,,2022-10-18 09:11:23,it's also used when the head is deformed becau...,eRisk2022-T3_Subject1

In [28]:
missing_data

TITLE    0
DATE     0
TEXT     0
USER     0
dtype: int64

In [29]:
duplicates_removed

0

In [30]:
### 2024 Test data ###
from datetime import datetime

data_2024 = data_2024.apply(lambda x: x.str.strip())

data_2024['DATE'] = pd.to_datetime(data_2024['DATE'], errors='coerce')

data_2024['TEXT'] = data_2024['TEXT'].str.replace(r'http\S+', '', regex=True).replace(r'\n',' ', regex=True)
data_2024['TITLE'] = data_2024['TITLE'].str.replace(r'http\S+', '', regex=True).replace(r'\n',' ', regex=True)

data_2024['USER'] = data_2024['USER'].astype(str)

missing_data = data_2024.isnull().sum()

data_2024['TEXT'] = data_2024['TEXT'].str.lower()
data_2024['TITLE'] = data_2024['TITLE'].str.lower()

data_2024['TEXT'] = data_2024['TEXT'].apply(lambda x: re.sub(pattern, '', x, flags=re.ASCII))
data_2024['TITLE'] = data_2024['TITLE'].apply(lambda x: re.sub(pattern, '', x, flags=re.ASCII))

duplicates_removed = data_2024.duplicated().sum()
data_2024.drop_duplicates(inplace=True)

In [31]:
missing_data

TITLE    0
DATE     0
TEXT     0
USER     0
dtype: int64

In [32]:
duplicates_removed

0

In [33]:
data_2024.head()

,TITLE,DATE,TEXT,USER
0,,2024-01-09 11:01:12,more consistent exposure to your hand will pro...,Subject1
1,,2023-11-26 08:56:37,replacing the substrate is probably for the be...,Subject1
2,,2023-10-30 01:05:19,"sprite has more prominent banding though, hes ...",Subject1
3,,2023-10-30 01:04:35,amp;formatpjpg amp;autowebp amp;s61891ea1313c...,Subject1
4,"below my goal weight, now the goal has just sh...",2023-10-14 05:47:09,eliminado,Subject1

In [34]:
# combining TITLE and TEXT columns
data_2022['TITLE'] = data_2022['TITLE'].astype(str)
data_2022['TEXT'] = data_2022['TEXT'].astype(str)
data_2022['TEXT'] = data_2022.apply(lambda row: (row['TITLE'] + '. ' if row['TITLE'] else '') + row['TEXT'], axis = 1)

data_2023['TITLE'] = data_2023['TITLE'].astype(str)
data_2023['TEXT'] = data_2023['TEXT'].astype(str)
data_2023['TEXT'] = data_2023.apply(lambda row: (row['TITLE'] + '. ' if row['TITLE'] else '') + row['TEXT'], axis = 1)

data_2024['TITLE'] = data_2024['TITLE'].astype(str)
data_2024['TEXT'] = data_2024['TEXT'].astype(str)
data_2024['TEXT'] = data_2024.apply(lambda row: (row['TITLE'] + '. ' if row['TITLE'] else '') + row['TEXT'], axis = 1)

In [35]:
data_2022.drop(columns=['TITLE'], inplace=True)
data_2023.drop(columns=['TITLE'], inplace=True)
data_2024.drop(columns=['TITLE'], inplace=True)

In [36]:
# drop empty text rows
data_2022 = data_2022[data_2022['TEXT'].str.strip() != '']
data_2023 = data_2023[data_2023['TEXT'].str.strip() != '']
data_2024 = data_2024[data_2024['TEXT'].str.strip() != '']

In [37]:
data_2022

,DATE,TEXT,USER
0,2021-11-21 09:04:18,i am so in love. thats it thats the post i am ...,eRisk2022-T3_Subject1
1,2021-11-21 08:32:52,me but im a guy lookin at skinny guys lmfao,eRisk2022-T3_Subject1
2,2021-11-16 09:11:26,"anyone else just say ""fuck you"" to one particu...",eRisk2022-T3_Subject1
3,2021-11-15 11:51:31,"im really sorry youre goin through this man, i...",eRisk2022-T3_Subject1
4,2021-11-15 11:47:12,is there anyone around you right now you could...,eRisk2022-T3_Subject1
...,...,...,...
47,2020-10-16 00:17:39,should i watch past season 3?. this is the fir...,eRisk2022-T3_Subject28
48,2020-10-07 21:17:22,hagrid's other sidequest. is there a list of a...,eRisk2022-T3_Subject28
49,2020-10-04 01:40:27,peeta revived. ever since reading the books an...,eRisk2022-T3_Subject28
50,2020-09-26 00:50:33,itap: a sunset through a window.,eRisk2022-T3_Subject28
51,2020-09-23 17:27:52,deep impact maybe,eRisk2022-T3_Subject28

In [38]:
# Instead of splitting into sentences now and exploding the the df, we will sentence tokenize later before tokenizing with BERT.

# # splitting text chunks into sentences
# from nltk.tokenize import sent_tokenize
# import nltk

# data_2022['TEXT'] = data_2022['TEXT'].apply(sent_tokenize)

# # explode dataframe so each sentence gets a row.
# data_2022 = data_2022.explode('TEXT').reset_index(drop=True)

# data_2023['TEXT'] = data_2023['TEXT'].apply(sent_tokenize)

# # explode dataframe so each sentence gets a row.
# data_2023 = data_2023.explode('TEXT').reset_index(drop=True)

In [39]:
data_2022.to_csv('csv_files/data_2022.csv', index=False)
data_2023.to_csv('csv_files/data_2023.csv', index=False)

In [40]:
data_2024.to_csv('csv_files/test_data.csv', index=False)